{% extends 'layout.html' %}
{% block content %}
    <section class="section">
        <div class="container">
            <h1 class="title is-1">퀴즈 수정하기</h1>

            <div class="box">
                <div class="buttons">
                    <a class="button is-link" href="/question/manage/{{ quiz.id }}">문항 관리</a>
                    <a class="button is-link" href="/result/manage/{{ quiz.id }}">제출 관리</a>
                    <a class="button is-danger" href="/quiz/delete/{{ quiz.id }}">삭제하기</a>
                </div>
            </div>

            <form method="post">
                <div class="box">
                    <div class="field">
                        <label for="title" class="label">제목</label>
                        <div class="control">
                            <input id="title" class="input" type="text" name="title" maxlength="128" placeholder="최대 128자까지 입력 할 수 있습니다." required value="{{ quiz.title }}">
                        </div>
                    </div>

                    <div class="field">
                        <label for="text" class="label">설명</label>
                        <div class="control">
                            <textarea id="text" name="text" class="textarea" placeholder="일부 마크 다운 문법을 사용 할 수 있습니다.">{{ quiz.text }}</textarea>
                        </div>
                    </div>
                </div>

                <div class="box">
                    <div class="field">
                        <label for="is_public" class="checkbox">
                        {% if quiz.is_public is true %}
                            {% set checked = "checked" %}
                        {% endif %}
                            <input id="is_public" type="checkbox" name="is_public" {{ checked }}>
                            퀴즈 공개 설정
                        </label>
                    </div>
                </div>

                <div class="box">
                    <div class="field">
                        <label for="finished_at" class="label">마감 날짜</label>
                        <div class="control">
                            <input id="finished_at" class="input" type="date" name="finished_at" required value="{{ quiz.finished_at.strftime('%Y-%m-%d') }}">
                        </div>
                    </div>
                </div>

                <div class="block">
                    <button class="button is-link is-fullwidth">변경사항 저장</button>
                </div>
            </form>
        </div>
    </section>
{% endblock %}